/* https://color.adobe.com/create/color-wheel   // colour wheel*/
/* https://iconmonstr.com/tools-1-svg/  // icons */
/* https://undraw.co/search  // image art */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
h3,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

main {
  font-family: "Oxygen", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #81f8ee, #8184f8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  /* width: 60%; */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(3rem);
  display: flex;
  margin: 5rem;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 5%;
  top: 10%;
  border-radius: 50%;
}

.circle1 {
  top: 25%;
  right: 1%;
}

.circle2 {
  top: 100%;
  left: 1%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.links__link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.links__link h2 {
  padding: 0rem 2rem;
}

/* // PROJECTS SECTION // */

.projects__title {
  margin-bottom: 3rem;
}

.projects {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projects__card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.projects__card--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects__card--info h3 {
  padding: 1rem 0;
}

.projects__card--info a {
  color: #426696;
  font-weight: bold;
}
